In [1]:
import pandas

In [1]:

urls_template_string="from django.conf.urls import url \nfrom . import views\n"
print urls_template_string

from django.conf.urls import url
from . import views

In [2]:
test_string='QuartzRefExample_L1_g10_HF_Zlmr205'
end=test_string.split('.')[-1]
print end==test_string

True

In [7]:
urls_imports=['from django.conf.urls import url\n',
             'from . import views\n']
app_name_line="app_name= '%s'\n"%'App1'
url_pattern_lines=['urlpatterns= [\n',
                   "  url(r'^$',views.index,name='index'),\n",
                  '  ]\n']

test_file=open('urls.py','w')
for line in urls_imports:
    test_file.write(line)
test_file.write(app_name_line)
for line in url_pattern_lines:
    test_file.write(line)
test_file.close()

In [4]:
import os
os.getcwd()

'C:\\Users\\arics\\Jupyter-Notebooks'

In [13]:
def write_app_urls(app_name):
    """Writes a basic urls.py for a django-app"""
    # Write the import string
    urls_imports=['from django.conf.urls import url\n',
                 'from . import views\n']
    # write the app_name = line
    app_name_line="app_name= '%s'\n"%app_name
    # write the url patterns
    url_pattern_lines=['urlpatterns= [\n',
                       "  url(r'^$',views.index,name='index'),\n",
                      '  ]\n']
    # open the file and do the work
    out_file=open('urls.py','w')
    for line in urls_imports:
        out_file.write(line)
    out_file.write(app_name_line)
    for line in url_pattern_lines:
        out_file.write(line)
    out_file.close()

In [9]:
def write_project_urls(app_names):
    """Writes a basic urls.py for a django-project 
    given the app names"""
    urls_imports=['from django.conf.urls import include, url\n',
                 'from django.contrib import admin\n']
    
    url_pattern_lines=['urlpatterns= [\n',
                       "  url(r'^admin/', admin.site.urls),\n"
                      ]
    for app_name in app_names:
        url_pattern="  url(r'^%s/',include('%s.urls')),\n"%(app_name,app_name)
        url_pattern_lines.append(url_pattern)
    url_pattern_lines.append('  ]')

    out_file=open('urls.py','w')
    for line in urls_imports:
        out_file.write(line)
    for line in url_pattern_lines:
        out_file.write(line)
    out_file.close()

In [15]:
app_names=['Files','Help']
write_project_urls(app_names)

In [16]:
write_app_urls('Files')

In [1]:
import registration

In [3]:
import registration.simple.hmacs.urls

ImportError: No module named simple.hmacs.urls

In [2]:
import Boa

In [1]:
import re
test_string="A_Mock_FileName_That is Mixed.with multiple characters.txt"
test_string=re.sub("([\a-z])([\A-Z|\d])",r'\1 \2',test_string)
test_list_1=re.split("[\W|\.|_]+",test_string)
test_list_2=re.split("[\W|\.|_]+",test_string)
print test_list_1
print test_list_2

['A', 'Mock', 'File', 'Name', 'That', 'is', 'Mixed', 'with', 'multiple', 'characters', 'txt']
['A', 'Mock', 'File', 'Name', 'That', 'is', 'Mixed', 'with', 'multiple', 'characters', 'txt']

In [2]:
for item in test_list_2:
    if item is None:
        test_list_2.remove(item)

In [3]:
test_list_2

['A',
 'Mock',
 'File',
 'Name',
 'That',
 'is',
 'Mixed',
 'with',
 'multiple',
 'characters',
 'txt']

In [42]:
test_string_2="gileName1"
re.sub("([\a-z])([\A-Z|\d])",r'\1 \2',test_string_2)

'gile Name 1'

In [67]:
def split_file_name(filename):
    """Returns a list of file name pieces. The list will contain any CamelCase, snake_case or
    common delimiter seperated words (last element is nominally the file extension"""
    out_string=re.sub("([\a-z])([\A-Z])",r'\1 \2',filename)
    print out_string
    out_list=re.split("[\W|\.|_]+",out_string)
    return out_list

In [68]:
split_file_name(r"X:\Calnet Test Files\Data For Playing\20150930_Q26Ra_g5_Song4_water")

X:\ Calnet  Test  Files\ Data  For  Playing\20150930_ Q26 Ra_g5_ Song4_water

['X',
 'Calnet',
 'Test',
 'Files',
 'Data',
 'For',
 'Playing',
 '20150930',
 'Q26',
 'Ra',
 'g5',
 'Song4',
 'water']

In [64]:
chr(20)

'\x14'

In [66]:
ord('\\')

92

In [15]:
test_string='20.3\t2.000'
num_match=r'[+-]?(\d+(\.\d*)?|\.\d+)([eE][+-]?\d+)?'
test_match='(?P<first>{0})[\s]+(?P<second>{0})'.format(num_match)
match=re.match(test_match,test_string)
print match.groupdict()

{'second': '2.000', 'first': '20.3'}

In [24]:
test_string='20.3\t.000'
num_match=r'[+-]?(\d+(\.\d*)?|\.\d+)([eE][+-]?\d+)?'
test_match='{0}[\s]+{0}'.format(num_match)
match=re.match(test_match,test_string)
print match.group(0)

20.3	.000

In [14]:
num_match=r'[+-]?(\d+(\.\d*)?|\.\d+)([eE][+-]?\d+)?'
test_num='3.33e-2'
print re.match(num_match,test_num).group(0)

3.33e-2

In [29]:
test_row_string='10.0  .1 .001 .9 180.00 .9 180.00\t.1 .001'
num_match=r'[+-]?(\d+(\.\d*)?|\.\d+)([eE][+-]?\d+)?'
test_match=""
for i in range(9):
    if i == 8:
        test_match=test_match+"(?P<value_%s>{0})"%str(i)
    else:
        test_match=test_match+"(?P<value_%s>{0})[\s]+"%str(i)

test_match=test_match.format(num_match)
match=re.match(test_match,test_row_string)
print match.groupdict()

{'value_8': '.001', 'value_5': '.9', 'value_4': '180.00', 'value_7': '.1', 'value_6': '180.00', 'value_1': '.1', 'value_0': '10.0', 'value_3': '.9', 'value_2': '.001'}

In [4]:
df=pandas.read_csv(r'C:\Users\sandersa\PyCharm Projects\pyMeasureNew\pyMeasure\Code\DataHandlers\Tests\onechks.csv')

In [5]:
df

,ctype,spid,checkid,CALDATE,MEASDATE,FREQ,CON,SP,MGAMA,PGAMA,CAL
0,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,2.00,1,1,0.19937,35.400,1
1,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,2.00,2,1,0.19932,35.401,1
2,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,2.00,3,1,0.19934,35.397,1
3,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,3.00,1,1,0.20243,-37.995,1
4,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,3.00,2,1,0.20252,-37.986,1
5,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,3.00,3,1,0.20245,-38.014,1
6,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,4.00,1,1,0.20361,-110.024,1
7,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,4.00,2,1,0.20348,-110.032,1
8,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,4.00,3,1,0.20368,-110.029,1
9,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,5.00,1,1,0.20369,178.440,1
10,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,5.00,2,1,0.20369,178.407,1
11,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,5.00,3,1,0.20369,178.434,1
12,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,6.00,1,1,0.20373,107.016,1
13,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,6.00,2,1,0.20370,107.013,1
14,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,6.00,3,1,0.20372,107.000,1
15,7 mm,"System 2,6",C07101,NaN,10AUG93:08:31:01,7.00,1,1,0.19963,34.812,1
16,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,7.00,2,1,0.19970,34.762,2
17,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,7.00,3,1,0.19962,34.784,2
18,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.00,1,1,0.19123,-39.730,1
19,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.00,2,1,0.19115,-39.765,1
20,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.00,3,1,0.19116,-39.750,1
21,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,8.00,1,1,0.19228,-39.865,2
22,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,8.00,2,1,0.19221,-39.803,2
23,7 mm,"System 2,6",C07101,02AUG93:15:00:40,10AUG93:08:31:01,8.00,3,1,0.19227,-39.853,2
24,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.20,1,1,0.19037,-55.060,1
25,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.20,2,1,0.19017,-55.057,1
26,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.20,3,1,0.19016,-55.124,1
27,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.40,1,1,0.18944,-70.174,1
28,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.40,2,1,0.18936,-70.194,1
29,7 mm,"System 2,6",C07101,11JUN93:08:38:29,25JUN93:08:24:02,8.40,3,1,0.18912,-70.222,1
...,...,...,...,...,...,...,...,...,...,...,...
212516,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,0.95,1,2,0.00404,72.663,1
212517,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,0.95,2,2,0.00396,71.228,1
212518,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,0.95,3,2,0.00382,71.534,1
212519,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,0.95,1,2,0.00321,78.495,2
212520,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,0.95,2,2,0.00309,80.732,2
212521,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,0.95,3,2,0.00304,81.854,2
212522,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,0.95,1,2,0.00116,66.598,3
212523,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,0.95,2,2,0.00100,73.264,3
212524,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,0.95,3,2,0.00102,74.398,3
212525,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,0.95,1,2,0.00125,74.221,4
212526,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,0.95,2,2,0.00127,72.868,4
212527,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,0.95,3,2,0.00122,72.741,4
212528,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,0.95,1,2,0.00086,68.745,5
212529,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,0.95,2,2,0.00087,70.501,5
212530,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,0.95,3,2,0.00090,68.807,5
212531,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,1.00,1,2,0.00456,74.796,1
212532,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,1.00,2,2,0.00453,71.735,1
212533,Type N + Adapter on port 2,System I,CTN115,16JUL96:10:04:08,01AUG96:10:36:03,1.00,3,2,0.00461,76.099,1
212534,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,1.00,1,2,0.00223,63.301,2
212535,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,1.00,2,2,0.00207,64.229,2
212536,Type N + Adapter on port 2,System I,CTN115,14AUG96:10:08:24,15AUG96:10:54:42,1.00,3,2,0.00204,63.765,2
212537,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,1.00,1,2,0.00106,32.350,3
212538,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,1.00,2,2,0.00080,30.094,3
212539,Type N + Adapter on port 2,System I,CTN115,16NOV99:15:07:04,10JAN00:11:01:37,1.00,3,2,0.00079,29.943,3
212540,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,1.00,1,2,0.00099,41.521,4
212541,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,1.00,2,2,0.00099,39.387,4
212542,Type N + Adapter on port 2,System I,CTN115,20JUL01:12:13:22,23JUL01:14:19:01,1.00,3,2,0.00102,40.162,4
212543,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,1.00,1,2,0.00088,56.739,5
212544,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,1.00,2,2,0.00087,53.625,5
212545,Type N + Adapter on port 2,System I,CTN115,11DEC01:15:24:30,18DEC01:17:08:38,1.00,3,2,0.00089,55.686,5

In [8]:
df['MEASDATE'][0]

'10AUG93:08:31:01'

In [10]:
import datetime
dt=datetime.datetime.strptime(df['MEASDATE'][0],'%d%b%y:%H:%M:%S')

In [28]:
print dt.isoformat()

1993-08-10T08:31:01

In [21]:
df.to_csv(r'C:\Users\sandersa\PyCharm Projects\pyMeasureNew\pyMeasure\Code\DataHandlers\Tests\onechks_pandas.csv',index=False)

In [22]:
df2=pandas.read_csv(r'C:\Users\sandersa\PyCharm Projects\pyMeasureNew\pyMeasure\Code\DataHandlers\Tests\onechks_pandas.csv')

       ctype  spid checkid CALDATE MEASDATE  FREQ   CON    SP MGAMA PGAMA  \
0       True  True    True    True     True  True  True  True  True  True
1       True  True    True    True     True  True  True  True  True  True
2       True  True    True    True     True  True  True  True  True  True
3       True  True    True    True     True  True  True  True  True  True
4       True  True    True    True     True  True  True  True  True  True
5       True  True    True    True     True  True  True  True  True  True
6       True  True    True    True     True  True  True  True  True  True
7       True  True    True    True     True  True  True  True  True  True
8       True  True    True    True     True  True  True  True  True  True
9       True  True    True    True     True  True  True  True  True  True
10      True  True    True    True     True  True  True  True  True  True
11      True  True    True    True     True  True  True  True  True  True
12      True  True    True    True     True  True  True  True  True  True
13      True  True    True    True     True  True  True  True  True  True
14      True  True    True    True     True  True  True  True  True  True
15      True  True    True   False     True  True  True  True  True  True
16      True  True    True    True     True  True  True  True  True  True
17      True  True    True    True     True  True  True  True  True  True
18      True  True    True    True     True  True  True  True  True  True
19      True  True    True    True     True  True  True  True  True  True
20      True  True    True    True     True  True  True  True  True  True
21      True  True    True    True     True  True  True  True  True  True
22      True  True    True    True     True  True  True  True  True  True
23      True  True    True    True     True  True  True  True  True  True
24      True  True    True    True     True  True  True  True  True  True
25      True  True    True    True     True  True  True  True  True  True
26      True  True    True    True     True  True  True  True  True  True
27      True  True    True    True     True  True  True  True  True  True
28      True  True    True    True     True  True  True  True  True  True
29      True  True    True    True     True  True  True  True  True  True
...      ...   ...     ...     ...      ...   ...   ...   ...   ...   ...
212516  True  True    True    True     True  True  True  True  True  True
212517  True  True    True    True     True  True  True  True  True  True
212518  True  True    True    True     True  True  True  True  True  True
212519  True  True    True    True     True  True  True  True  True  True
212520  True  True    True    True     True  True  True  True  True  True
212521  True  True    True    True     True  True  True  True  True  True
212522  True  True    True    True     True  True  True  True  True  True
212523  True  True    True    True     True  True  True  True  True  True
212524  True  True    True    True     True  True  True  True  True  True
212525  True  True    True    True     True  True  True  True  True  True
212526  True  True    True    True     True  True  True  True  True  True
212527  True  True    True    True     True  True  True  True  True  True
212528  True  True    True    True     True  True  True  True  True  True
212529  True  True    True    True     True  True  True  True  True  True
212530  True  True    True    True     True  True  True  True  True  True
212531  True  True    True    True     True  True  True  True  True  True
212532  True  True    True    True     True  True  True  True  True  True
212533  True  True    True    True     True  True  True  True  True  True
212534  True  True    True    True     True  True  True  True  True  True
212535  True  True    True    True     True  True  True  True  True  True
212536  True  True    True    True     True  True  True  True  True  True
212537  True  True    True    True     True  True  True  True  True  True
212538  True  True    True    True     True  True  True  True  True  True
212539  True  True    True    True     True  True  True  True  True  True
212540  True  True    True    True     True  True  True  True  True  True
212541  True  True    True    True     True  True  True  True  True  True
212542  True  True    True    True     True  True  True  True  True  True
212543  True  True    True    True     True  True  True  True  True  True
212544  True  True    True    True     True  True  True  True  True  True
212545  True  True    True    True     True  True  True  True  True  True

         CAL
0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
...      ...
212516  True
212517  True
212518  True
212519  True
212520  True
212521  True
212522  True
212523  True
212524  True
212525  True
212526  True
212527  True
212528  True
212529  True
212530  True
212531  True
212532  True
212533  True
212534  True
212535  True
212536  True
212537  True
212538  True
212539  True
212540  True
212541  True
212542  True
212543  True
212544  True
212545  True

[212546 rows x 11 columns]

In [34]:
now=datetime.datetime.utcnow()

In [35]:
now.isoformat()

'2016-03-24T23:37:17.128000'

In [39]:
df2.to_json()

In [8]:
NUMBER_MATCH_STRING=r'[+-]?(\d+(\.\d*)?|\.\d+)([eE][+-]?\d+)?'
def make_row_match_string(column_names,delimiter_pattern='[\s,-]+'):
    """Returns a regex string for matching a row given a set of column names assuming the row delimiter
    is a set of white spaces (default) or a specified delimiter pattern.
    Designed to create a regex for the input of numbers"""
    row_regex_string="(?:^|[\s]+)"
    for index,name in enumerate(column_names):
        if index == len(column_names)-1:
            row_regex_string=row_regex_string+'(?P<%s>{0})'%name
        else:
            row_regex_string=row_regex_string+'(?P<%s>{0})'%name+delimiter_pattern
    row_regex_string=row_regex_string.format(NUMBER_MATCH_STRING)
    return row_regex_string

In [9]:
regex=make_row_match_string(['freq','reS11','imS11'])

In [16]:
match=re.match(regex,'   123, 1.5e+05,  .13')
print match.groupdict()

{'reS11': '1.5e+05', 'freq': '123', 'imS11': '.13'}