In [4]:
import pyMeasure.Code.DataHandlers.GeneralModels as GeneralModels

In [5]:
#Lets make a table and put it into the AsciiDataTable 
new_table=GeneralModels.AsciiDataTable()

In [6]:
table_data=[[i+j*3 for i in range(3)]for j in range(3)]
print table_data

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [7]:
#input the data directly
new_table.data=table_data

In [8]:
new_table.column_names=['x1','x2','x3']

In [9]:
print new_table.build_string()

x1,x2,x3
0,1,2
3,4,5
6,7,8

In [10]:
new_table.options['column_names_begin_token']='#'

In [11]:
print new_table.build_string()

#x1,x2,x3
0,1,2
3,4,5
6,7,8

In [12]:
new_table.options['column_names_begin_token']='['
new_table.options['column_names_end_token']=']'

In [13]:
print new_table.build_string()

[x1,x2,x3]
0,1,2
3,4,5
6,7,8

In [14]:
new_table.options['data_begin_token']='*'*80+'\n'
new_table.options['data_end_token']='*'*80

In [14]:
print new_table.build_string()

[x1,x2,x3]
********************************************************************************
0,1,2
3,4,5
6,7,8
********************************************************************************

In [15]:
new_table.header=['My First Header Line','My Second Header Line']

In [16]:
print new_table

My First Header LineMy Second Header Line
[x1,x2,x3]
********************************************************************************
0,1,2
3,4,5
6,7,8
********************************************************************************

In [17]:
new_table.options['comment_begin']='#'
new_table.options['comment_end']='\n'

In [18]:
print new_table

#My First Header Line
#My Second Header Line

[x1,x2,x3]
********************************************************************************
0,1,2
3,4,5
6,7,8
********************************************************************************

In [19]:
new_table.get_options()

data_begin_line = None
column_names_begin_line = None
header = None
general_descriptor = Table
header_end_token = None
header_end_line = None
column_names_end_line = None
data_table_element_separator =

header_begin_token = None
data = None
inline_comment_begin = None
inline_comment_end = None
data_begin_token = ********************************************************************************

comment_end =

header_begin_line = None
column_names_end_token = ]
block_comment_begin = None
specific_descriptor = Data
empty_value = None
column_names_begin_token = [
footer_end_token = None
footer_begin_token = None
column_names_delimiter = None
escape_character = None
column_types = None
comment_begin = #
treat_header_as_comment = None
column_names = None
treat_footer_as_comment = None
extension = txt
footer = None
data_end_line = None
block_comment_end = None
footer_end_line = None
data_delimiter = None
footer_begin_line = None
data_end_token = ********************************************************************************
directory = None
row_formatter_string = None
metadata_delimiter = None

In [21]:
new_table.path

'Data_Table_20160226_001.txt'

In [22]:
new_table.options['data_begin_token']=None
new_table.options['data_end_token']=None

In [23]:
print new_table

#My First Header Line
#My Second Header Line

[x1,x2,x3]
0,1,2
3,4,5
6,7,8

In [24]:
new_table2=GeneralModels.AsciiDataTable()
new_table2.header=new_table.header
new_table2.column_names=new_table.column_names
new_table2.options=new_table.options

In [25]:
print new_table2

#My First Header Line
#My Second Header Line

[x1,x2,x3]

In [27]:
new_table2.data=[[2*(i+j*3) for i in range(3)]for j in range(3)]

In [28]:
print new_table2

#My First Header Line
#My Second Header Line

[x1,x2,x3]
0,2,4
6,8,10
12,14,16

In [29]:
table3=new_table+new_table2

In [32]:
print new_table

#My First Header Line
#My Second Header Line

[x1,x2,x3]
0,1,2
3,4,5
6,7,8
0,2,4
6,8,10
12,14,16

In [ ]:
sum([new_table,table3])

In [ ]:
print new_table